.ReglogContainer{
    width: 100%;
    display: flex;
    gap: 25px;
    padding: 10px;
    overflow: hidden;
    animation-name: slidein-right;
    animation-duration: 2s;
}
@keyframes slidein-right{
    from{
        margin-right: 100%;
        width: 25%;
    }
    to{
        margin-right: 0%;
        width: 100%;
    }
}
.RegLcontainer{
    width: 50%;
}
.RegRcontainer{
    width: 50%;
    border-left: 1px solid rgb(0, 0, 0);
    padding-left: 25px;
}
.register {
    width: 400px;
    background: #fff;
    border: 1px solid #212223;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    text-align: center;
}

.register > input {
    border-radius: 8px;
    border: 2px solid #1c1c1c;
    outline: none;
    color: #1d2129;
    margin: 0.5rem 0;
    padding: 0.5rem 0.75rem;
    width: 92%;
    font-size: 1rem;
}

.register > .button {
    background: #6900ff;
    border: 1px solid #6900ff;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}
h3 {
    color: #6900ff;
  }

.opt{
    width: 55%;
    height: 25px;
    margin-top: 10px;
}
.black{
    color: black;
}